In [1]:
####################################################
#          Concat Data Frames                      #
#       Homicidios Dolosos Fuentes Abiertas        #
#                                                  #
# Author: Mariana Fernandez                        #
# Github: marianafdz465                            #
# email: mariana.fernadez@cide.edu                 #
#                                                  #
# Date: 19/08/2020                                 #
####################################################

In [2]:
### Libraries

import pandas as pd
import glob
from pathlib import Path

In [74]:
### Explore Directories
#dirname = "./2020/05082020/"
#Anomalias
dirname = "/Users/marianafernandez/Documents/PADeCI/homicides-mx-data/Anomalias/29022020/"
DF_list= list()

for filename in sorted(glob.glob(dirname + '/*.csv')):
    print(filename)
    df7 = pd.read_csv(filename, header = None)
    DF_list.append(df7)
df_list_len = len(DF_list)
df_list_len

/Users/marianafernandez/Documents/PADeCI/homicides-mx-data/Anomalias/29022020/29022020-page-1-table-1.csv
/Users/marianafernandez/Documents/PADeCI/homicides-mx-data/Anomalias/29022020/29022020-page-2-table-1.csv

2

In [75]:
two_tables()

1,Entidad,Municipio,No de \nMuertos,Hombre,Mujer,No \nIdentificado
2,Baja California \n(1),Tijuana,1,-,1,-
3,Chihuahua (3),Cuauhtémoc,1,1,-,-
4,NaN,Guerrero,1,1,-,-
5,NaN,Juárez,1,1,-,-
6,Ciudad de \nMéxico (5),Benito Juárez,3,3,-,-
7,NaN,Tlalpan,1,1,-,-
8,NaN,Venustiano \nCarranza,1,1,-,-
9,Colima (2),Manzanillo,2,-,-,2
10,Guanajuato \n(10),Apaseo el \nGrande,1,1,-,-
11,NaN,Celaya,5,3,2,-
12,NaN,León,1,1,-,-
13,NaN,NaN,2,-,2,-
14,NaN,Salamanca,1,1,-,-
15,Guerrero (7),Acapulco de \nJuárez,1,-,-,1
16,NaN,NaN,1,1,-,-
17,NaN,NaN,1,1,-,-
18,NaN,NaN,1,1,-,-
19,NaN,Atoyac de \nÁlvarez,1,1,-,-
20,NaN,Iguala de la \nIndependenci\na,2,1,1,-
0,Jalisco (4),Guadalajara,1,-,1,-
1,NaN,Zapopan,1,1,-,-
2,NaN,NaN,1,1,-,-
3,NaN,NaN,1,1,-,-
4,México (5),Chalco,2,2,-,-
5,NaN,Nezahualcóyo\ntl,1,1,-,-
6,NaN,Tepotzotlán,2,2,-,-
7,Michoacán de \nOcampo (2),Morelia,1,-,1,-
8,NaN,Zamora,1,1,-,-
9,Morelos (4),Cuernavaca,1,1,-,-
10,NaN,Jiutepec,3,3,-,-
11,Nuevo León \n(2),García,2,1,1,-
12,Oaxaca (1),Villa de \nTututepec de \nMelchor \nOcampo,1,1,-,-
13,Puebla (1),Puebla,1,1,-,-
14,Quintana Roo \n(2),Benito Juárez,2,2,-,-
15,San Luis \nPotosí (3),Santa Catarina,3,3,-,-
16,Sonora (1),Guaymas,1,1,-,-
17,NaN,Tamaulipas (1) Nuevo Laredo,1,-,-,1
18,Veracruz de \nIgnacio de la \nLlave (6),Atoyac,1,1,-,-
19,NaN,Isla,1,-,1,-
20,NaN,Mecatlán,2,2,-,-
21,NaN,Omealca,1,1,-,-
22,NaN,Playa Vicente,1,1,-,-
23,Totales,NaN,60,46,10,4

In [34]:
two_tables()

1,Entidad,Municipio,No de \nMuertos,Hombre,Mujer,No \nIdentificado
2,Baja \nCalifornia \n(1),Tijuana,1,-,1,-
3,Ciudad de \nMéxico (2),Cuauhtémoc,1,1,-,-
4,NaN,Gustavo A. \nMadero,1,-,1,-
5,Coahuila \nde \nZaragoza \n(1),Piedras \nNegras,1,1,-,-
6,Guanajuato \n(12),Irapuato,1,-,-,1
7,NaN,NaN,1,1,-,-
8,NaN,NaN,1,1,-,-
9,NaN,NaN,1,1,-,-
10,NaN,Jerécuaro,4,4,-,-
11,NaN,León,1,1,-,-
12,NaN,Tarimoro,2,2,-,-
13,NaN,NaN,1,1,-,-
14,Guerrero \n(5),Chilpancingo \nde los Bravo,1,1,-,-
15,NaN,Iguala de la \nIndependenci\na,1,1,-,-
16,NaN,Zirándaro,3,3,-,-
17,NaN,Hidalgo (2) San Salvador,2,2,-,-
18,Jalisco (6),Guadalajara,1,1,-,-
19,NaN,Lagos de \nMoreno,1,1,-,-
20,NaN,Tlajomulco de \nZúñiga,1,1,-,-
21,NaN,Zapopan,1,1,-,-
22,NaN,NaN,2,2,-,-
23,México (2),La Paz,1,1,-,-
0,NaN,Nezahualcóyo\ntl,1,1,-,-
1,Michoacán \nde \nOcampo \n(4),Morelia,1,-,1,-
2,NaN,NaN,2,1,1,-
3,NaN,NaN,1,-,1,-
4,Morelos (5),Axochiapan,1,1,-,-
5,NaN,Miacatlán,3,3,-,-
6,NaN,Xochitepec,1,1,-,-
7,Nuevo \nLeón (2),Apodaca,1,1,-,-
8,NaN,Guadalupe,1,1,-,-
9,Oaxaca (3),San Pedro \nMixtepec (22),1,1,-,-
10,NaN,Santiago \nPinotepa \nNacional,2,2,-,-
11,Puebla (2),Puebla,1,-,1,-
12,NaN,San Pedro \nCholula,1,1,-,-
13,Quintana \nRoo (3),Benito Juárez,1,1,-,-
14,NaN,NaN,1,-,1,-
15,NaN,Felipe Carrillo \nPuerto,1,1,-,-
16,Sinaloa (1),Salvador \nAlvarado,1,1,-,-
17,Sonora (2),Cajeme,2,2,-,-
18,Tabasco (3),Centro,1,1,-,-
19,NaN,Cunduacán,1,1,-,-
20,NaN,Macuspana,1,1,-,-
21,Veracruz \nde Ignacio \nde la Llave \n(5),Coatepec,1,-,1,-
22,NaN,Coatzacoalco\ns,1,1,-,-
23,NaN,Juan \nRodríguez \nClara,1,1,-,-
24,NaN,Rafael \nDelgado,1,1,-,-

In [17]:
two_tables()

1,Entidad,Municipio,No de \nMuertos,Hombre,Mujer,No \nIdentificado
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Chihuahua \n(5),Chihuahua,2,2,-,-
5,NaN,NaN,1,1,-,-
6,NaN,Juárez,1,1,-,-
7,NaN,NaN,1,1,-,-
8,Colima (2),Manzanillo,2,2,-,-
9,Guanajuato \n(11),Acámbaro,2,2,-,-
10,NaN,Dolores Hidalgo \nCuna de la \nIndependencia \...,1,1,-,-
11,NaN,Irapuato,1,1,-,-
12,NaN,NaN,1,1,-,-
13,NaN,León,1,1,-,-
14,NaN,Salamanca,4,-,-,4
15,NaN,NaN,1,1,-,-
16,Guerrero (4),Atoyac de \nÁlvarez,1,1,-,-
17,NaN,NaN,1,1,-,-
18,NaN,Chilpancingo de \nlos Bravo,1,1,-,-
19,NaN,NaN,1,1,-,-
20,Hidalgo (1),Tula de Allende,1,1,-,-
21,México (4),Atizapán,1,1,-,-
22,NaN,Chiconcuac,1,1,-,-
23,NaN,Tlalnepantla de \nBaz,1,-,1,-
24,NaN,Xonacatlán,1,-,1,-
25,Michoacán \nde Ocampo \n(9),Buenavista,1,1,-,-
26,NaN,NaN,1,-,-,1
0,NaN,Jacona,1,-,1,-
1,NaN,Morelia,1,1,-,-
2,NaN,NaN,2,2,-,-
3,NaN,Uruapan,1,-,-,1
4,NaN,Zamora,2,2,-,-
5,Morelos (1),Cuernavaca,1,1,-,-
6,Nuevo León \n(3),Apodaca,1,1,-,-
7,NaN,Monterrey,1,1,-,-
8,NaN,NaN,1,1,-,-
9,Oaxaca (1),Matías Romero \nAvendaño,1,1,-,-
10,Puebla (5),Puebla,1,1,-,-
11,NaN,NaN,2,2,-,-
12,NaN,San Martín \nTexmelucan,2,2,-,-
13,Quintana \nRoo (2),Solidaridad,1,1,-,-
14,NaN,NaN,1,1,-,-
15,San Luis \nPotosí (3),Ciudad \nFernández,1,1,-,-
16,NaN,Ríoverde,1,1,-,-
17,NaN,San Luis Potosí,1,1,-,-
18,Sinaloa (4),Culiacán,1,1,-,-
19,NaN,NaN,1,1,-,-
20,NaN,NaN,1,1,-,-
21,NaN,NaN,1,1,-,-
22,Tabasco (1),Centro,1,-,-,1
23,Tamaulipas \n(1),Victoria,1,1,-,-
24,Veracruz de \nIgnacio de la \nLlave (6),Alvarado,1,-,1,-
25,NaN,Coatepec,2,2,-,-
26,NaN,Martínez de la \nTorre,1,1,-,-
27,NaN,Papantla,2,-,2,-

In [ ]:
four_tables()

In [ ]:
switch(df_list_len)

In [4]:
################
# THREE TABLES
##############
def three_tables():
    #Allocate Data Frame 1
    df1 = DF_list[0]
    df1
    ### Remove first row ##
    df1.columns = df1.iloc[1]
    df1 = df1[2:]

    df1 = df1.drop(["Fuente"], axis = 1)
    df1
    
    #Rename Columns just if is necessary

    df1 = df1.rename(columns={ 
                          df1.columns[2]: "No de \nMuertos",
                          df1.columns[3]: "Hombre", 
                          df1.columns[4]: "Mujer",
                          df1.columns[5]: "No \nIdentificado",
                          
                          
                         })
    df1
    ###################
# TABLE 2
###################

    df2 = DF_list[1]
    df2
    
    #Rename Columns

    df2.columns = ["Entidad", 
               "Municipio", 
               "No de \nMuertos", 
               "Hombre", 
               "Mujer", 
               "No \nIdentificado",
               "Fuente"]

    df2 = df2.drop(["Fuente"], axis = 1)
    df2
#####################
# TABLE 3
#################

    df3 = DF_list[2]
    df3
#Rename Columns
    df3.columns = ["Entidad", 
               "Municipio", 
               "No de \nMuertos", 
               "Hombre", 
               "Mujer", 
               "No \nIdentificado",
               "Fuente"
              
              
              
               
               ]
    df3 = df3.drop(["Fuente"], axis = 1)
    df3
    
###############
# CONCAT 3 TABLES
##############

    new_df = pd.concat([df1, df2,df3])

#Remove Fuente
#new_df = new_df.drop(["Fuente"], axis=1)
    
    path = Path(dirname).stem
    new_df.to_csv( dirname +  path  +  ".csv",encoding="utf-8", index = False)
    return(new_df)

In [5]:
################
# TWO TABLES
##############

def two_tables():
    ############
    # TABLE 1  #
    ###########
    
    df1 = DF_list[0]
    #df1
    
    ### Remove first row ##
    df1.columns = df1.iloc[1]
    df1 = df1[2:]

    df1 = df1.drop(["Fuente"], axis = 1)
    df1

    #Rename Columns just if is necessary

    df1 = df1.rename(columns={ 
                          df1.columns[2]: "No de \nMuertos",
                          df1.columns[3]: "Hombre", 
                          df1.columns[4]: "Mujer",
                          df1.columns[5]: "No \nIdentificado",
                          
                          
                         })
    #df1
    
    ############
    # TABLE 2  #
    ###########

    df2 = DF_list[1]
    #df2
    
    #Rename Columns

    df2.columns = ["Entidad", 
               "Municipio", 
               "No de \nMuertos", 
               "Hombre", 
               "Mujer", 
               "No \nIdentificado",
               "Fuente"]

    df2 = df2.drop(["Fuente"], axis = 1)
    #df2
    
   ###################
   # CONCAT 2 TABLES #
   ##################

    new_df = pd.concat([df1, df2])
    path = Path(dirname).stem
    new_df.to_csv( dirname +  path  +  ".csv",encoding="utf-8", index = False)
    return(new_df)

In [15]:
################
# THREE TABLES
##############

def three_tables():
     ############
    # TABLE 1  #
    ###########
    
    df1 = DF_list[0]
    #df1
    
    ### Remove first row ##
    df1.columns = df1.iloc[1]
    df1 = df1[2:]

    df1 = df1.drop(["Fuente"], axis = 1)
    df1

    #Rename Columns just if is necessary

    df1 = df1.rename(columns={ 
                          df1.columns[2]: "No de \nMuertos",
                          df1.columns[3]: "Hombre", 
                          df1.columns[4]: "Mujer",
                          df1.columns[5]: "No \nIdentificado",
                          
                          
                         })
    #df1
    
    ############
    # TABLE 2  #
    ###########

    df2 = DF_list[1]
    #df2
    
    #Rename Columns

    df2.columns = ["Entidad", 
               "Municipio", 
               "No de \nMuertos", 
               "Hombre", 
               "Mujer", 
               "No \nIdentificado",
               "Fuente"]

    df2 = df2.drop(["Fuente"], axis = 1)
    #df2

#####################
# TABLE 3
#################

    df3 = DF_list[2]
    #df3
    #Rename Columns
    df3.columns = ["Entidad", 
               "Municipio", 
               "No de \nMuertos", 
               "Hombre", 
               "Mujer", 
               "No \nIdentificado",
               "Fuente"           
               
               ]
    df3 = df3.drop(["Fuente"], axis = 1)
    #df3
   ###################
   # CONCAT 2 TABLES #
   ##################

    new_df = pd.concat([df1, df2,df3])
    path = Path(dirname).stem
    new_df.to_csv( dirname +  path  +  ".csv",encoding="utf-8", index = False)
    return(new_df)

In [20]:
################
# FOUR TABLES
##############

def four_tables():
     ############
    # TABLE 1  #
    ###########
    
    df1 = DF_list[0]
    #df1
    
    ### Remove first row ##
    df1.columns = df1.iloc[1]
    df1 = df1[2:]

    df1 = df1.drop(["Fuente"], axis = 1)
    df1

    #Rename Columns just if is necessary

    df1 = df1.rename(columns={ 
                          df1.columns[2]: "No de \nMuertos",
                          df1.columns[3]: "Hombre", 
                          df1.columns[4]: "Mujer",
                          df1.columns[5]: "No \nIdentificado",
                          
                          
                         })
    #df1
    
    ############
    # TABLE 2  #
    ###########

    df2 = DF_list[1]
    #df2
    
    #Rename Columns

    df2.columns = ["Entidad", 
               "Municipio", 
               "No de \nMuertos", 
               "Hombre", 
               "Mujer", 
               "No \nIdentificado",
               "Fuente"]

    df2 = df2.drop(["Fuente"], axis = 1)
    #df2
    
    #####################
    # TABLE 3
    #################

    df3 = DF_list[2]
    #df3
    #Rename Columns
    df3.columns = ["Entidad", 
               "Municipio", 
               "No de \nMuertos", 
               "Hombre", 
               "Mujer", 
               "No \nIdentificado",
               "Fuente"           
               
               ]
    df3 = df3.drop(["Fuente"], axis = 1)
    #df3
    
    ############
    # TABLE 4
    ##########

    df4 = DF_list[3]
    #df4
    #Rename Columns
    df4.columns = ["Entidad", 
               "Municipio", 
               "No de \nMuertos", 
               "Hombre", 
               "Mujer", 
               "No \nIdentificado",
               "Fuente"
               
               
               ]
    df4 = df4.drop(["Fuente"], axis = 1)

   ###################
   # CONCAT 2 TABLES #
   ##################

    new_df = pd.concat([df1, df2,df3,df4])
    path = Path(dirname).stem
    new_df.to_csv( dirname +  path  +  ".csv",encoding="utf-8", index = False)
    return(new_df)

In [ ]:
def one_table():
    return("Just one table")

In [ ]:
def switch(case):
   sw = {
      1: one_table(),
      2: two_tables(),
      3: three_tables(),
      4: four_tables(),
   }
   return sw.get(case)

In [ ]:
switch(df_list_len)